* {
    background-color: lightgoldenrodyellow;
    font-size: 24px;
} 

.image {
    display: inline;
    padding: 0px;
    margin: 0px;
    float: left;
    border: 0px;
  }

  *{
    box-sizing: border-box;
}
.box {
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 15px;

}

.box {background: yellow;}
.box {background: red;}
.box {background: lightblue;}
.box {background: lightgreen;}
.box {background: lightgoldenrodyellow;}

.container {
    display: flex;
    justify-content: space-between;